body:has(.menubar, .idle-notification) {
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
}

#__nuxt:has(.menubar, .idle-notification) {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
